@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

                             /*Inicio Header*/

.header-home {
    display: flex-end;
    justify-content: space-between;
    background-image: url('/src/assets/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 50px;
    min-height: 100vh;
    min-width: 100%;
    box-shadow: 0px 1px 30px #000000;
}

h1 {
    color: black;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.imgLogo {
    width: 150px;
    height: 150px;
}


.navigation ul li {
    list-style-type: none;
    padding: 0rem 3rem;
    border: none;
    background-color: #00000000;
    
}

.nav-li {
    display: flex;
    justify-content: space-between;
    border: none;
}

.navigation ul li a {
    font-size: 16pt;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
}

ul li a:hover {
    color: rgb(184, 184, 184);
    transition: ease-in-out 0.3s;

}

.navigation .btn {
    display: flex;
    gap: 4px;
} 

.navigation button {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
}

.navigation button:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    transition: ease-in-out 0.3s;
}

.slogan {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: start;
    padding: 4rem 0rem;
}

.slogan .slogan-principal {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slogan .slogan-principal h1 {
    line-height: 56px;
    font-size: 46pt;
}

.slogan .desc-slogan {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0rem 6rem;
}

.slogan .desc-slogan p {
    font-size: 25pt;
    font-weight: 300;
    line-height: 40px;
}

.btn-pass {
    display: flex;
    flex-direction: row;
}

.btn-pass-action {
    display: flex;
    padding: 0rem 6rem;
}

.btn-pass-action button {
    border: none;
    outline: none;
    width: 300px;
    padding: 1.5rem;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 600;
    font-size: 16pt;
}

.btn-pass-action button:hover {
    background-color: rgb(2, 2, 2);
    color: white;
    transition: ease-in 0.2s;
}

                             /*Fim Header*/

                                   /*Serviços*/

.services {
    display: flex;
    flex-direction: column;
}

.services .container-services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services .container-services .title-services {
    display: block;
    margin: 0 auto;
}

.services .container-services .title-services h1{
    font-size: 30pt;
}

.services .container-services .cards-info-services {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    max-height: 800px;
}

                                   /*Card Left*/

.services .container-services .cards-info-services .card-user-left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 60px;
    margin-left: 10px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    padding: 3rem 0rem;
}

.services .container-services .cards-info-services .card-user-left:hover {
    position: relative;
    transform: scale3d(1.1, 1.1, 1);
    transition: all 0.4s ease;
}

.services .container-services .cards-info-services .card-user-left .card-header-left {
    display: flex;
    width: 40vw;
    justify-content: center;
}

.services .container-services .cards-info-services .card-user-left .card-header-left img{
    width: 100%;
    height: 380px;
    overflow: hidden;
    text-align: center;
}

.services .container-services .cards-info-services .card-user-left h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

.services .container-services .cards-info-services .card-user-left p{
    text-align: center;
    color: rgb(10, 10, 10);
    font-weight: 300;
    font-size: 13pt;
    max-width: 500px;
}

.services .container-services .cards-info-services .card-user-left .btn-acess-services {
    text-align: center;
}

.services .container-services .cards-info-services .card-user-left .btn-acess-services button {
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 150px;
    padding: 1.0rem;
    margin-bottom: 15px;
}

.services .container-services .cards-info-services .card-user-left .btn-acess-services button:hover {
    background-color: rgb(121, 121, 121);
    color: rgb(255, 255, 255);
    transition: 0.3s;
    cursor: pointer;
}

                               /*Card Right*/

.services .container-services .cards-info-services .card-emp-right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 60px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    padding: 3rem 0rem;
}

.services .container-services .cards-info-services .card-emp-right:hover {
    position: relative;
    transform: scale3d(1.1, 1.1, 1);
    transition: all 0.4s ease;
}

.services .container-services .cards-info-services .card-emp-right .card-header-right {
    display: flex;
    width: 40vw;
    justify-content: center;
}

.services .container-services .cards-info-services .card-emp-right .card-header-right img{
    width: 100%;
    height: 380px;
    overflow: hidden;
    text-align: center;
}

.services .container-services .cards-info-services .card-emp-right h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

.services .container-services .cards-info-services .card-emp-right p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 12pt;
    max-width: 500px;
}

.services .container-services .cards-info-services .card-emp-right .btn-acquire-services {
    text-align: center;
}

.services .container-services .cards-info-services .card-emp-right .btn-acquire-services button {
    outline: none;
    border: none;
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 150px;
    padding: 1.0rem;
    margin-bottom: 15px;
}

.services .container-services .cards-info-services .card-emp-right .btn-acquire-services button:hover {
    background-color: rgb(121, 121, 121);
    color: rgb(255, 255, 255);
    transition: 0.3s;
    cursor: pointer;
}



                                /* Sobre */

.about {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.about .container-about {
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
}

.about .container-about .left-about {
    display: flex;
    max-width: 35%;
    flex-basis: 50%;

}

.about .container-about .left-about img {
    width: 700px;
    height: 900px;
}

.about .container-about .right-about {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 2rem 4rem;
}

.about .container-about .right-about .title h1 {
    font-size: 40pt;
}

.about .container-about .right-about .desc-about h2 {
    color: black;
    font-size: 25pt;
}

.about .container-about .right-about .desc-about p {
    text-indent: 3ch;
    font-size: 20pt;
    color: black;
}

                        /* Contact - Mensagem de contato */

.contact {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contact .container-contact {
    display: flex;
    flex-direction: row;
}

.contact .container-contact .left-contact {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 2rem 3rem;
}

#logo-contact {
    width: 100px;
    height: 100px;
    align-items: center;
}

#title-contact-center {
    font-size: 20pt;
    color: black;
    text-align: center;
}

.contact .container-contact .left-contact .title-contact {
    display: flex;
    text-align: center;
}

.contact .container-contact .left-contact .title-contact h2 {
    font-size: 13pt;
    color: black;
}

.contact .container-contact .left-contact .form-contact {
    display: flex;
    flex-direction: column;
}

.contact .container-contact .left-contact .form-contact form {
    display: flex;
    flex-direction: column;
}


.contact .container-contact .left-contact .form-contact form label {
    color: black;
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact .container-contact .left-contact .form-contact form input {
    border: none;
    outline: none;
    width: 500px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px black;
}

.contact .container-contact .left-contact .form-contact form textarea {
    flex: 0.5;
    width: 500px;
    padding: 1rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 4px black;
}

.contact .container-contact .left-contact .form-contact form .send-btn-contact input{
    width: 100px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 0px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: solid 1px;
}

.contact .container-contact .left-contact .form-contact form .send-btn-contact input:hover{
    background-color: gray;
    color: black;
    transition: all 0.4s;
    cursor: pointer;
}

.contact .container-contact .right-contact {
    display: flex;
    flex-basis: 50%;
    background-color: gray;
}

.contact .container-contact .right-contact img {
    max-width: 100%;
    max-height: 100%;
}


                        /* Celular - Baixe o app*/

.slogan h1 {
    color: white;
    font-size: 60pt;
    line-height: 100px;
    max-width: 600px;
    padding-left: 100px;
}

.slogan-description p {
    color: white;
    font-size: 20pt;
    padding-left: 100px;

}
.cellphone-app {
    background-color: rgb(240, 240, 240);
    color: black;
}

.cellphone-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cellphone-content-left img {
    margin-left: 200px;
    width: 600px;
    height: 600px;
}

.cellphone-content-right {
    margin-right: 200px;
}

.cellphone-content-right img {
    width: 200px;
    height: 60px;

}   

                            /*Rodapé - Footer*/

#footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 3rem 3rem 3rem;
}

#f-logo {
    height: 100px;
    width: 100px;

}

#footer i {
    font-size: 1rem;
    padding: 0.3rem;
}

#footer a {
    color: rgb(255, 255, 255);
}

#footer a:hover {
    color: rgb(184, 184, 184);
    transition: ease-in-out 0.3s;
}

.contact-info,
.links-container {
    width: 20%;
}

.footer-brand {
    margin-bottom: 2rem;
}

.footer-brand h2 {
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.contact-info p {
    margin-bottom: 1rem;
}

.contact-info p i {
    background-color: transparent;
    padding: 0;
}

.social-networks p {
    margin-top: 40px;
    margin-bottom: 1rem;
}

.networks {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

#footer .networks i {
    padding: 1rem;
    color: white;
}

#footer .networks i:hover {
    color: rgb(184, 184, 184);
    transition: ease-in-out 0.3s;
}

.links-container h4 {
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.links-container nav {
    display: flex;
    flex-direction: column;
}

.links-container nav a {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-decoration: none;
}

.phone-number {
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.phone-info {
    margin-top: 0px;
    color: white;
}